<section class="movies-section">

        <div>
            <select name="year" id="">
                
            </select>
            <input type="text" name="genre" id="">
    
        </div>
    
        <div class="card">
    
            <img src="" alt="">
            <div class="content">
                <h3>titulo pelicula</h3>
                <ul>
                    <li>timpo</li>
                    <li>fecha</li>
                    <li>genero</li>               
                </ul>
                <p>
                    sinpsis de la pelicula
                </p>
            </div>
            <div class="buttons">
                <button>ver trailer</button>
                <button>agregar favoritos</button>
            </div>
        </div>
    
    
    
    </section>