body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0;
            
}

header{
    width: 1024px;
    height: 64px;
    background: #ffffff;
    color: #687b82;
    text-align: left;
    margin: 0 auto;
}


.logo{
    float: left;
}

.logo img{

  width: 165px;
  height: 27px;
  color: #687b82;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
}

.menu{
    float: right;
}

.menu ul>li {
    list-style: none;
    float: left;
    margin-left: 30px;
}
.menu a {
    font-size: 16px;
    text-decoration: none;
    color: #9fb0b7;
}

.menu a:hover{
    
    color: #0abffe;
    display: block;
    padding-bottom: 7px;
    border-bottom: 2px solid #0abffe;
}

.menu_active {
    color: #0abffe;
    display: block;
    padding-bottom: 7px;
    border-bottom: 2px solid #0abffe;
}


/* .menu li.active>a:active{
    text-decoration: none;
    color: #0abffe;
    display: block;
    padding-bottom: 7px;
    border-bottom: 2px solid #0abffe;
} */


.filter {
    background: #f3f6f7;
    height: 37px;
    width: 100%;
}

.search-input {
    display: block;
    margin: 0 auto;
    width: 942px;
    
    padding: 5px 0px;
}

.search-input>img {
    width: 24px;
    vertical-align: middle;
}

.search-input>input {
    background: transparent;
    border: 0 none;
    width: 240px;
    color: #687b82;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 27px;
    
}
.movies-section{
    width: 100%;
}

.selects-section {
    display: block;
    margin: 0 auto;
    width: 942px;
    
}


h6 {
    
    width: 408px;
    height: 22px;
    color: #687b82;
    font-size: 16px;
    font-weight: lighter;
    
    
}



.parametros {
    display: inline-block;
    margin-right: 70px;
}

.parametros label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    width: 43px;
    height: 17px;
    color: #687b82;
    
    
}

.gender-select {
    height: 31px;
    width: 200px;
    background-position-x: 180px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 238, 241);
    border-image: initial;
}

.gender-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    color: #687b82;
    width: 200px;
}

.year-select {
    background-size: 15px;
    height: 31px;
    overflow: hidden;
    width: 100px;
    border: 1px solid #e8eef1;
}

.year-select select {
    background: transparent;
    border: none;   
    font-size: 14px;
    height: 29px;
    padding: 5px;
    color: #687b82;
    width: 100px;
}

.space{
    margin: 30px;
    clear: both;
}

/*movies card*/
.movies-all {
    display: block;
    margin: 0 auto;
    width: 960px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.movies-all h2 {
    margin-left: 5%;
}


.movie-card {
    background: #FFFFFF;
    width: 460px;
    height: 204px;
    box-shadow: 0 1px 4px 0 rgba(130, 130, 130, 0.50);
}

.movie-card:hover h4{
    color: #0abffe;
}

.movie-pic {
    float: left;
    display: inline-block
}

.movie-pic img {
    height: 204px;
}

.movie-content {
    float: left;
    padding: 10px 10px 10px 20px;
    width: 276px;
}

.movie-title h4 {
    
    float: left;
    width: 246px;
    overflow: hidden;
    margin : 0;
    
}

.movie-title average {
    float: right;
}

.info-item li:after{
    content: " | ";
    color: #3d484c;
    margin: 0;
}

.movie-detail ul{
    margin-left: -14%;
}

.info-item li {
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    list-style: none;
    font-size: 10px;
    margin-top: 14px;
    color: #3d484c;
}


.info-overview {
    width: 278px;
    height: 55px;
    font-size: 12px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #687b82;
    text-align: justify;
}

.buttons {
    margin-top: 30px;
}

.buttons button {
    display: inline-block;
}

.trailer-button {
    widows: 87px;
    font-size: 12px;
    color: #00BDFF;
    border: 1px solid #00BDFF;
    border-radius: 3px;
    background: #fff;
    padding: 5px 15px;
    cursor: pointer;
}

.favo-button {
    border: none;
    background: #fff;
    width: 140px;
    font-size: 12px;
    margin-top: 7px;
    color: #87969C;
    float: right;
    cursor: pointer;
    
}

.favo-button .fa-heart {
    font-size: 17px;
}
.favo-button:hover{
    color: #0abffe;
}

.paginator{
    margin: 0 auto;
    width: 200px;
    margin-top: 20px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
    width: 642px;
    padding: 23px;
}

.not-found{
    width: 1024;
    margin: 0 auto;
}

@media (max-width: 1050px) {
    header{
        width: 100%;
    }
}

@media (max-width: 900px) {
    
    .movies-all{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-flex;
        display: flex;
    }

    .movie-card {
        margin: 0 auto;
    }

   
    .selects-section{
        width: 460px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .search-input{
        width: 460px;
    }

    @media (min-width: 500px) {
         .movies-all{
             min-width: 500px;
         }
         header{
            min-width: 500px;
        }
    }
  }